In [2]:
import sys
import os
import json
import pandas as pd
from io import StringIO 
from sklearn.model_selection import train_test_split
from modules.parser import parse_json

In [4]:
def test(**kwargs):
    print(f"kwargs: {kwargs}")


dirname = os.getcwd()
test(**parse_json({"schemap": "3/schema.json"},"schema",dirname))

kwargs: {'fnlwgt': 'numeric', 'education-num': 'numeric', 'capital-gain': 'numeric', 'capital-loss': 'numeric', 'hours-per-week': 'numeric', 'age': 'catelogue', 'workclass': 'catelogue', 'education': 'catelogue', 'marital-status': 'catelogue', 'occupation': 'catelogue', 'relationship': 'catelogue', 'race': 'catelogue', 'sex': 'catelogue', 'native-country': 'catelogue', 'income': 'catelogue'}

In [8]:
json.loads('{"hidden_layer_sizes": 200}')

{'hidden_layer_sizes': 200}

In [6]:
df=pd.read_csv("BCP.csv",index_col=0)
train_X,test_X,train_Y,test_Y=train_test_split(df.drop("Class",axis=1),df["Class"],test_size=0.3)

In [10]:
pd.concat([train_X,train_Y],axis=1)

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
Sample code number,,,,,,,,,,
1265899,4,1,1,1,2,1,3,1,1,2
1280258,4,1,1,1,2,1,1,2,1,2
1275807,4,2,4,3,2,2,2,1,1,2
1000025,5,1,1,1,2,1,3,1,1,2
830690,5,2,2,2,3,1,1,3,1,2
...,...,...,...,...,...,...,...,...,...,...
1072179,10,7,7,3,8,5,7,4,3,4
557583,5,10,10,10,10,10,10,1,1,4
625201,8,2,1,1,5,1,1,1,1,2
1180523,3,1,1,1,2,1,2,2,1,2
1100524,6,10,10,2,8,10,7,3,3,4

In [8]:
train_Y

Sample code number
1265899    2
1280258    2
1275807    2
1000025    2
830690     2
          ..
1072179    4
557583     4
625201     2
1180523    2
1100524    4
Name: Class, Length: 478, dtype: int64

In [7]:
train_X

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses
Sample code number,,,,,,,,,
1265899,4,1,1,1,2,1,3,1,1
1280258,4,1,1,1,2,1,1,2,1
1275807,4,2,4,3,2,2,2,1,1
1000025,5,1,1,1,2,1,3,1,1
830690,5,2,2,2,3,1,1,3,1
...,...,...,...,...,...,...,...,...,...
1072179,10,7,7,3,8,5,7,4,3
557583,5,10,10,10,10,10,10,1,1
625201,8,2,1,1,5,1,1,1,1
1180523,3,1,1,1,2,1,2,2,1
1100524,6,10,10,2,8,10,7,3,3

In [21]:
df=pd.read_csv("BCP_train.csv",index_col=0)
model, result=tp.oneshot(get_model_class("SVM"),df.drop(columns="Class"),df["Class"],eval.accuracy)
print(result["accuracy"])
if not os.path.exists("/1"):
    os.makedirs("/1")
pd.to_pickle(model,"/1/model.pickle")
with open('/1/metadata.json', 'w', encoding='utf-8') as f:
    json.dump(result, f, ensure_ascii=False, indent=4)

0.9728033472803347